/*---
*
*    See LICENSE file on github.com/Gyyyn/AskVoat for license.
*
---*/

/*--- Items removed ---*/

#header-img,
.scorebar,
.thumbnail,
.side input[type="checkbox"] + label,
.submit-link,
.tabmenu .contribute,
.link.stickied .midcol .score,
.link.stickied .promoted
{
    display: none;
}

.pagename {
    width: 0;
    height: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#header-account .separator, #header-account .user {
    font-size: 0;
} #header-account .user span, #header-account .user a { font-size: 12px; }

/*--- CSS reset ---*/

#header, #header-container, #header-banner, #header-account, #container {
    max-width: none;
    position: static;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    height: initial;
}

/*    Tabmenu Reset   */

.tabmenu li.disabled a,
.tabmenu li.disabled a:hover,
.tabmenu li.selected a,
.tabmenu li.selected a:hover,
.tabmenu li.disabled a.contribute,
.tabmenu li.disabled a.contribute:hover,
.tabmenu li.selected a.contribute,
.tabmenu li.selected a.contribute:hover
{
    border: none;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background: initial;
    color: inherit;
}

.user .userkarma,
.user .upvoatsGiven {
    border: 0;
}

/*--- Misc ---*/

.alert-firsttimevisitorwelcome {
    margin-bottom: 25px;
    background: transparent;
    border: 0;
    box-shadow: 0 13px 10px -15px rgba(0, 0, 0, 0.3);
    margin-left: 22px;
	transition: 150ms all cubic-bezier(0, 0, 0, .9);
}

.alert-firsttimevisitorwelcome:hover {
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);
}

.tooltipster-default {
    border-radius: 2px;
    border: 0;
    background: #fff;
    color: inherit;
    box-shadow: 0 0 5px rgba(0,0,0,0.26);
}

.side form[action*="search"] {
    position: relative;
}

.side input[type="checkbox"] {
    position: absolute;
    top: 6px;
    right: 5px;
}

.side form[action*="search"]::after {
    position: absolute;
    right: -10px;
    min-width: 185px;
    padding: 10px;
    border-radius: 3px;
    content: "Limit search results to subverse";
    font-size: 9pt;
    text-align: center;
    display: inline-block;
    opacity: 0;
    background: #fff;
    border: 1px solid #ccc;
    top: -9999px;
}

.dark .side form[action*="search"]::after {
    background-color: #333;
    border-color: #444;
}

.side form[action*="search"]:hover::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10px solid #ccc;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    top: 15px;
    right: 10px;
    z-index: 5;
    animation: fadetooltip 150ms cubic-bezier(0, 0, 0, .9);
}

.dark .side form[action*="search"]:hover::before {
    border-bottom-color: #444;
}

.side form[action*="search"]:hover::after {
    z-index: 4;
    top: 24px;
    right: -5px;
    opacity: 1;
    animation: fadetooltip 150ms cubic-bezier(0, 0, 0, .9);
}

@keyframes fadetooltip {
	0% {
		transform: translateX(20px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

.arrow-downvote:after {
    opacity: 1;
    display: block;
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    margin-top: -6px;
    margin-left: 32px;
    padding: 12px;
    background-color: rgba(79,77,192,0.0);
    border: none;
    border-radius: 4px;
    color: rgba(255,255,255,0);
    content: "Vote based on quality, not opinion.";
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    transition: all 250ms cubic-bezier(0, 0, 0, .9);
    pointer-events: none;
    min-width: 200px;
}

.arrow-downvote:hover:after{
    visibility: visible;
    background-color: rgba(24,24,24,0.9);
    color: #FFF;
    margin-left: 48px;
}

.side .md h6 {
    position: absolute;
    left: 0px;
    top: 24px;
    background: #fff;
    border-radius: 4px;
    border: 0;
    z-index: 99;
    width: auto;
    margin-left: 250px;
    margin-top: 7px;
    font-size: 14px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.26);
    padding: 4px 12px;
}

/*--- fun stuff :> ---*/

.leavemoderator:hover,
#moderation_tools > .title h1 {
    font-size: 0;
}

#moderation_tools > .title h1:after {
    font-size: 10pt;
    content: "Censorship tools."
}

.leavemoderator:hover:after {
    font-size: 8pt;
    content: "You are here forever.";
}

/*--- Light Mode
----------------------------*/

/*--- Fonts & Typography ---*/

/*    Main Font AKA Roboto Abuse */

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Lato);

body,
.tabmenu a,
#header-account,
.author,
.alert-title,
.alert-h1,
.alert-h2,
.btn-sub,
.btn-whoaverse,
.btn-tour,
.link .title,
.link .flat-list
{
    font-family: "Roboto", Arial, sans-serif;
}

/*    Secondary Font */

.alert,
.md,
.h6, h6,
.arrow-downvote:after {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 400;
}

/*    Global Links   */
a, a:visited {
    color: #5E8391;
}

a:hover {
    color: #99B8C4;
}

/*--- Buttons ---*/

.btn-whoaverse,
a.btn-whoaverse,
a.btn-tour {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px 16px;
    color: #729AA9;
    background: linear-gradient(to bottom, #f7f7f7 0%, #e7e7e7 100%);
    transition: 150ms all cubic-bezier(0, 0, 0, .9);
}

.btn-whoaverse:hover,
a.btn-tour:hover {
    border: 1px solid #aaa;
    color: #555;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #f7f7f7 0%, #e7e7e7 100%);
}

.btn-whoaverse.contribute {
    background: linear-gradient(to bottom, #729AA9 0%, #538294 100%);
    border-color: #5E8391;
    color: #fff;
}

.btn-whoaverse.contribute:hover {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #A5C2CD 0%, #7FA5B4 100%);
    border-color: #7FA5B4;
    color: #fafafa;
    transition: 150ms all cubic-bezier(0, 0, 0, .9);
}

.btn-whoaverse.contribute.submit-text {
    border: 0;
    background: #fff;
    width: 85px;
    height: 70px;
    border-radius: 100%;
    color: #555;
    font-size: 0;
    margin: 15px auto 0 auto;
    position: relative;
    display: block;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.26);
    transition: 150ms all cubic-bezier(0, 0, 0, .9);
}

.btn-whoaverse.contribute.submit-text:hover {
    border-radius: 25px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12), 0px 8px 14px rgba(0, 0, 0, 0.26)
    background-image: none;
    border: 0;
}

.btn-whoaverse.contribute.submit-text:active {
    position: relative;
    top: 0;
    opacity: .5;
    box-shadow: -1px 4px 7px rgba(0, 0, 0, 0.26);
    transition: 75ms all cubic-bezier(0, 0, 0, .9);
}

.btn-whoaverse.contribute.submit-text:before {
    content: "";
    border-width: 45px 8px 0px;
    border-style: solid;
    border-color: #fff transparent transparent;
    display: inline-block;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: -8px;
    left: -8px;
    transform: rotate(60deg);
}

.btn-whoaverse.contribute.submit-text:after {
    content: "?";
    font-family: "Permanent Marker", sans-serif;
    font-size: 28pt;
    position: relative;
    top: -2px;
}

.btn-whoaverse-paging {
    border: 1px solid #ccc;
    color: #555;
    background: transparent;
    font-size: 9pt;
    padding: 4px 8px;
    transition: 150ms all cubic-bezier(0, 0, 0, .9);
}

.btn-whoaverse-paging:hover {
    border-color: #aaa;
    color: #555;
    background: transparent;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.btn-whoaverse-paging:active {
    box-shadow: none;
    background: transparent;
    transition: 75ms all cubic-bezier(0, 0, 0, .9);
    top: 0;
}

.btn-whoaverse-paging:focus {
    color: inherit;
}

a.btn-tour {
	font-weight: 600;
	box-shadow: 0;
}

.inline-loadcomments-btn {
    padding: 0 2px;
    border: 0px none;
    font-size: 9pt;
}

.link .flat-list li a,
.comment .flat-list li a,
.inline-loadcomments-btn {
    color: #777;
    transition: 150ms cubic-bezier(0, 0, 0, .9) all;
    font-weight: bold;
}

.link .flat-list li a:hover,
.comment .flat-list li a:hover,
.inline-loadcomments-btn:hover {
    text-decoration: none;
    color: #999;
}

.link .flat-list li a:active,
.comment .flat-list li a:active,
.inline-loadcomments-btn:active {
    background-color: rgba(200, 200, 200, .3);
}

/*--- Spritesheet ---*/

#manage,
#nightmodetoggle,
#mail.nohavemail,
#mail.havemail,
.arrow-upvote,
.arrow-upvoted,
.arrow-downvote,
.arrow-downvoted,
.comment .arrow-downvote,
.comment .arrow-downvoted,
.comment .arrow-upvote,
.comment .arrow-upvoted,
.link.stickied .midcol:after
{
    background-image: url(https://i.imgur.com/yW39dBS.png);
}

#manage {
    background-position: -34px 0px;
}

#nightmodetoggle {
    background-position: -50px 0px;
    height: 16px;
    width: 16px;
    top: 3px;
}

#mail.nohavemail {
    background-position: 0px 0px;
    width: 17px;
    height: 14px;
}

#mail.havemail {
    background-position: -17px 0px;
    width: 17px;
    height: 14px;
}

.link .arrow-upvote,
.link .arrow-upvoted,
.link .arrow-downvote,
.link .arrow-downvoted,
.comment .arrow-downvote,
.comment .arrow-downvoted,
.comment .arrow-upvote,
.comment .arrow-upvoted {
    width: 30px;
    height: 20px;
    position: relative;
    top: -14px;
    margin-left: 6px;
}

.comment .arrow-downvote,
.comment .arrow-downvoted,
.comment .arrow-upvote,
.comment .arrow-upvoted {
    position: static;
    top: 0;
    margin: 0 auto;
}

.link .arrow-upvote,
.comment .arrow-upvote {
    background-position: -66px -19px;
}

.link .arrow-upvoted,
.comment .arrow-upvoted {
    background-position: -66px 0px;
}

.link .arrow-downvote,
.comment .arrow-downvote {
    background-position: -96px -19px;
}

.link .arrow-downvoted,
.comment .arrow-downvoted {
    background-position: -96px 0px;
}

.link .arrow-downvote,
.link .arrow-downvoted {
    top: 14px;
}

.link .arrow-upvoted {
    animation: do-upvote 100ms cubic-bezier(0, 0, 0, .9) 1;
    background-position: -66px 1px;
    top: -18px;
}

.link .arrow-downvoted {
    animation: do-downvote 100ms cubic-bezier(0, 0, 0, .9) 1;
    background-position: -96px 1px;
    top: 18px;
}

/*.comment .arrow-downvote,
.comment .arrow-downvoted,
.comment .arrow-upvote,
.comment .arrow-upvoted {
    width: 12px;
    height: 12px;
}

.comment .arrow-upvote {
    background-position: 0px -14px;
}

.comment .arrow-upvoted {
    background-position: -12px -14px;
}

.comment .arrow-downvote {
    background-position: 0px -26px;
}

.comment .arrow-downvoted {
    background-position: -12px -26px;
}*/

/*--- Main & Containers ---*/

body {
    background: #eaeaea
        url(https://i.imgur.com/4D8AzXj.png);
    color: #424C50;
    font: 10px Arial;
}

#header {
    margin-bottom: 15px;
    position: relative;
    background:
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4CAMAAAAOusbgAAAAHlBMVEXw8PD+/v739/fy8vH19fXv7+729vbt7ez09PT///+loomeAAACCklEQVR4Ae2Z72rDQAzDnf651O//woPQht9YxWzcWwaxPrlCV33JCUcxPwjmfnlsuGw/1w3XHzLwQ+gFT0BjL9/t13Vd354AL/UDvIn/gcb8scN93eEEealXPEBNG7fxROPxmm+4Bnf/hjv4264X/ABvTlBjvoznvLgv9tQvTpCX+tD/3HbNgZF5EKyQw+A5az1nUzkseRP5LGbqOVvhqpDnLPWc27iNJxozn9/mtoEf5Jm9nHVuY7ZSDpOXM/X3l+8ZszqwP9cyXGhoHMthpUmetcCKU7tmQtPGbfwnxjqfOStN8qwF9udChjtnaPzUe7UhVwfmajciNJbNWCCW20IjV5+Pvb4KTRu38TzjbMYCsdwWGsvmMwBeZ7LSnDCrmc/MbZHhpY6aGlMPhc7hAA8IjawUp9SI1LRxG88zzmZsiAeERvfVmFUOKx4I7NW9VwteaEp7dfYl7DJlr/7cK6vQtHEbzzMudBoz9mqdyZzre3X31UYun9uFvtq8VrwV+upC1RjStHEbzzIuXacZfTXJSm5H9ureq8Uc0APkY3t16SEChEbv1bVrQwhNG7fxLOOjrtNggDBXi5lMCI15FN1XmxPps7WCjUierVWKRPJsG7fxLOMDr5MOh2wvTf0vZ3uvBnQ+h3hC1U3JjxghnhAay362CfGE0LRxG88yPu46FQJEZjLwD/vqL/ZnuFgJSUtDAAAAAElFTkSuQmCC)
        #eeeeee
        repeat
        top left;
}

#header:focus { outline: none; }

#header-container {
    margin-top: 140px;
    border-bottom: 3px solid #eee;
    border: 0;
    background: #5E8391;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.26), 0 2px 5px rgba(0,0,0,0.36);
}

#header-banner {
    margin: 0 15px;
    margin-left: 220px;
    display: flex;
    justify-content: space-between;
}

#header-account {
    align-self: flex-end;
}

#container {
    margin: 0 1%;
    display: flex;
}

#sortingThingy:before {
    content: "Sort by:";
    font-size: 14px;
    font-weight: 400;
}

#sortingThingy {
    font-size: 0px;
    font-weight: 600;
    margin: 0px 0px 15px 20px;
    text-align: right;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.26);
    padding: 8px;
}

#sortingThingy a {
    font-size: 14px;
    margin: 0px 4px;
}

#container .content {
    flex-grow: 1;
	min-width: 0;
}

.content {
    margin: 0;
    padding: 15px;
    z-index: initial;
}

.commentarea {
    margin-top: 15px;
}

/*--- Global Rules ---*/

/*    Global Colors   */

a:focus {
    outline: none;
}

#header-container,
#header-account a
{
    color: #eee;
}

#header-account a:hover {
    color: #ccc;
}

/*---
----- Vote Colors -----
----- Upvote: #339959
----- Downvote: #3D4A90 */

.tagline .post_upvotes,
.link .score.likes
{
    color: #339959;
}

.user .upvoatsGiven a {
	color: #eee !important;
}

.tagline .post_downvotes,
.link .score.dislikes
{
    color: #3D4A90;
}

/*--- Header elements ---*/

.whoaSubscriptionMenu > li > ul {
    max-height: 90vh;
    overflow-y: scroll;
}

#header-img-a {
    display: inline-block;
    height: 170px;
    width: 595px;
    background-image: url(https://i.imgur.com/sqPX7y0.png);
    position: absolute;
    top: 24px;
    left: 0;
    margin-top: 20px;
    margin-left: 10px;
}

.pagename a {
    font-size: 0;
    margin: 0;
    position: absolute;
    top: 24px;
    left: 0;
    height: 185px;
    width: 615px;
    padding: 0;
}

#header-banner > form,
#header-banner > #header-account {
    align-self: center;
}

#header-account {
    width: 300px;
    text-align: center;
}

#header-account > div {
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
}

#header-account,
.user .userkarma {
    font-weight: 600;
}

.user > a,
.user .userkarma,
span.upvoatsGiven {
    margin: 0 2px;
}

#header-account .logged-out a {
    color: #fff;
}

/*    Tabmenu    */

 .tabmenu {
    z-index: 5;
    min-width: 400px; /* Cover .pangename a */
    text-transform: uppercase;
    font-size: 12pt;
    display: flex;
    flex-grow: 1;
}

.tabmenu li {
    padding: 0;
    margin: 0;
}

.tabmenu li.disabled a,
.tabmenu li.disabled a:hover,
.tabmenu li.selected a,
.tabmenu li.selected a:hover,
.tabmenu li.disabled a.contribute,
.tabmenu li.disabled a.contribute:hover,
.tabmenu li.selected a.contribute,
.tabmenu li.selected a.contribute:hover {
    font-weight: bold;
    transition: 75ms ease-out;
    transition-property: background, color;
    padding: 2px 6px;
    margin: 0 8px;
    border-radius: 4px;
    outline: none;
    color: #fff;
}

.tabmenu li.disabled a:hover,
.tabmenu li.disabled a.contribute:hover {
    color: #ccc;
}

.tabmenu li.selected a:hover {
    background-color: rgba(159, 179, 187, .5);
}

.tabmenu li.selected a,
.tabmenu li.disabled a:active {
    background-color: rgba(159, 179, 187, .3);
}

.tabmenu li.selected a:active {
    background-color: transparent;
}

/*--- Sidebar ---*/

.side {
    order: 1;
    padding: 0;
    margin: 15px 0;
    padding: 0 15px;
    min-width: 300px;
}

.titlebox {
    clear: both;
}

.titlebox form.toggle,
.leavemoderator {
    background: transparent;
    font-size: 8pt;
}

.form-control,
.commenttextarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #555;
    transition: 150ms all cubic-bezier(0, 0, 0, .9);
}

.form-control:focus,
.commenttextarea:focus {
    border-color: #ccc;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.side .titlebox > .usertext {
    box-shadow: 0 -13px 10px -15px rgba(0, 0, 0, 0.3), 0 13px 10px -15px rgba(0, 0, 0, 0.3);
    margin: 15px 0;
}

.titlebox .bottom {
    border-top: 0;
    margin-bottom: 15px;
}

.side .spacer.spacersection {
    margin-top: 0;
    border: 0;
    border-radius: 4px;
    padding: 15px;
    background: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.26);
}

.sidecontentbox .content {
    background: transparent;
    border: 0;
}

.spacersection .alert-h1 {
    border: 0;
    padding: 0;
}

.titlebox .btn-whoaverse-paging {
	float: right;
	margin-left: 10px;
}

.alert-h1,
.alert-h2 {
    border: 0;
    padding: 5px;
    padding-top: 0;
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    font-size: 13pt;
    font-weight: 600;
    color: #555;
    box-shadow: 0px 6px 6px -7px rgba(0, 0, 0, 0.3);
}

.sidecontentbox .title h1 {
    text-transform: none;
    font-size: 10pt;
    text-align: left;
    font-weight: bold;
}

/*--- User Content ---*/

a.author,
a.author:visited,
.link a.author,
.link a.author:visited,
.comment a.author,
.comment a.author:visited
{
    font-weight: bold;
    color: #6E8B97;
}

a.author:hover,
.link a.author:hover,
.comment a.author:hover,
.link a.subverse:hover {
    color: #81B8D0;
    text-decoration: none;
}

a.author.moderator,
.comment a.author.moderator,
.link.stickied a.author.moderator {
    color: #7DAE8F;
}

a.author.moderator:after,
.comment a.author.moderator:after,
.link.stickied a.author.moderator:after {
    margin: 2px;
    padding: 0 2px;
    border-radius: 2px;
    content: "Moderator";
    background-color: #7DAE8F;
    color: #fff;
}

/*    Link Listing    */

.domain { display: none; }

.link {
    border: none;
    position: relative;
    padding: 0;
    padding-bottom: 15px;
    display: flex;
}

.link.even {
    background: transparent;
}

.link a.title.may-blank,
.link a.title.may-blank:visited {
    color: #424A4D;
    transition: 150ms all cubic-bezier(0, 0, 0, .9);
}

.link a.title.may-blank:hover {
    color: #6E8B97;
}

.link .midcol {
    align-self: center;
    margin: 0;
    border: 3px #fff solid;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
    overflow: visible;
    position: relative;
    transition: 150ms all cubic-bezier(0, 0, 0, .9);
}

.link.stickied .midcol:after {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	background-position: -36px -20px;
	position: absolute;
	left: 11px;
	top: 12px;
}

.link .entry {
    border: 3px #f7f7f7 solid;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.26);
    margin: 0;
    padding: 5px;
    margin-left: -25px;
    padding-left: 30px;
    flex-grow: 1;
    flex-shrink: 10000;
    transition: 150ms all cubic-bezier(0, 0, 0, .9);
}

.link:hover .entry {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.26), 0px 8px 8px rgba(0, 0, 0, 0.26);
}

.link:first-of-type:hover .entry {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.26);
}

.link:hover .midcol {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
}

.link:first-of-type .midcol {
    align-self: flex-start;
}

.link:first-of-type:hover .midcol {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

.link .title {
    text-align: left;
    margin-bottom: 5px;
}

.link .tagline {
    color: #888;
}

.link .flat-list {
    font-size: 10pt;
    margin-top: 5px;
    text-transform: uppercase;
}

.link .score {
    position: absolute;
    top: 17px;
    left: 7px;
}

.link .expando-button {
    float: right;
}

/*    MD    */

.md {
    line-height: 1.6;
    text-align: justify;
    padding-right: 10px;
}

.side .md {
    text-align: left;
}

.link .usertext .md {
    border: 0;
    border-width: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    background: transparent;
    font-size: 14px;
    border-top: 1px dotted #D1D6D8;
}

.md a,
.md a:visited {
    color: #20B7F1;
    transition: 100ms ease-out all;
}

.md a:hover {
    text-decoration: none;
    background: #F1F4F5;
    *color: #98DBF5;
}

.md blockquote,
.dark .usertext .md blockquote {
    background: transparent;
    border: 0;
    box-shadow: none;
    font-style: italic;
}

.md blockquote p:first-of-type:before {
    content: open-quote" ";
}

.md blockquote p:last-of-type:after {
    content: " "close-quote;
}

.comment .comment blockquote {
    background: transparent !important;
}

/*--- Comments ---*/

.comment {
    box-shadow: 0 -13px 10px -15px rgba(0, 0, 0, 0.3);
    padding-top: 15px;
}

.comment .comment {
    border: 0;
    box-shadow: -3px 0 10px -6px rgba(0, 0, 0, 0.3);
    margin: 15px 0;
    margin-left: 10px;
    padding: 10px;
}

.comment .flat-list {
    text-transform: lowercase;
    font-size: 8pt;
}

.comment .flat-list a {
    color: #555;
}

.comment .flat-list a:hover {
    color: #555;
    text-decoration: underline;
}

/*--- Animations ---*/

/*    Intro    */

.content { animation: container-intro 300ms cubic-bezier(0,0,0,.9) 1; }

@keyframes container-intro {
    0% {
        transform: translateY(1%);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/*     Upvotes     */

@keyframes do-upvote {
    0% {
        top: -14px;
    }

    100% {
        top: -18px;
    }
}

@keyframes do-downvote {
    0% {
        top: 14px;
    }

    100% {
        top: 18px;
    }
}

/*--- Dark Mode
----------------------------*/

body.dark {
    background-color: #333;
    color: #ccc;
}

.dark #header {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4CAMAAAAOusbgAAAAHlBMVEUvLy8yMjIwMDAvLy8wMDAvLy8wMDAuLi4wMDAyMjIwbherAAACCklEQVR4Ae2Z72rDQAzDnf651O//woPQht9YxWzcWwaxPrlCV33JCUcxPwjmfnlsuGw/1w3XHzLwQ+gFT0BjL9/t13Vd354AL/UDvIn/gcb8scN93eEEealXPEBNG7fxROPxmm+4Bnf/hjv4264X/ABvTlBjvoznvLgv9tQvTpCX+tD/3HbNgZF5EKyQw+A5az1nUzkseRP5LGbqOVvhqpDnLPWc27iNJxozn9/mtoEf5Jm9nHVuY7ZSDpOXM/X3l+8ZszqwP9cyXGhoHMthpUmetcCKU7tmQtPGbfwnxjqfOStN8qwF9udChjtnaPzUe7UhVwfmajciNJbNWCCW20IjV5+Pvb4KTRu38TzjbMYCsdwWGsvmMwBeZ7LSnDCrmc/MbZHhpY6aGlMPhc7hAA8IjawUp9SI1LRxG88zzmZsiAeERvfVmFUOKx4I7NW9VwteaEp7dfYl7DJlr/7cK6vQtHEbzzMudBoz9mqdyZzre3X31UYun9uFvtq8VrwV+upC1RjStHEbzzIuXacZfTXJSm5H9ureq8Uc0APkY3t16SEChEbv1bVrQwhNG7fxLOOjrtNggDBXi5lMCI15FN1XmxPps7WCjUierVWKRPJsG7fxLOMDr5MOh2wvTf0vZ3uvBnQ+h3hC1U3JjxghnhAay362CfGE0LRxG88yPu46FQJEZjLwD/vqL/ZnuFgJSUtDAAAAAElFTkSuQmCC);
}

.dark .side .md h6,
.dark #sortingThingy,
.dark .tooltipster-default {
    background-color: #222;
}

.dark #header-img-a,
.dark .arrow-upvote,
.dark .arrow-downvote {
    filter: brightness(0.4);
    -webkit-filter: brightness(0.4);
}

.dark #header-container {
    background-color: #293A40;
}

.dark .tabmenu li.selected a,
.dark .tabmenu li.disabled a:active {
    background-color: rgba(159, 179, 187, 0.1);
}

.dark .tabmenu li.selected a:hover {
    background-color: rgba(159, 179, 187, 0.3);
}

.dark .btn-whoaverse,
.dark a.btn-whoaverse,
.dark a.btn-tour {
    border: 1px solid #444;
    color: #729AA9;
    background: linear-gradient(to bottom, #2e2e2e 0%, #272727 100%);
}

.dark .btn-whoaverse:hover,
.dark a.btn-tour:hover {
    border: 1px solid #555;
    color: #aaa;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #2e2e2e 0%, #272727 100%);
}

.dark .btn-whoaverse.contribute.submit-text,
.dark .btn-whoaverse.contribute.submit-text:hover {
    background-color: #444;
    color: #777;
}

.dark .btn-whoaverse.contribute.submit-text:before {
    border-color: #444 transparent transparent;
}

.dark .btn-whoaverse-paging {
    border-color: #424242;
    color: #aaa;
    box-shadow: none;
}

.dark .btn-whoaverse-paging:hover {
    border-color: #505050;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
}

.dark .link .entry,
.dark .link .midcol {
    background: #3c3c3c;
    border-color: #393939;
}

.dark .link a.title.may-blank,
.dark .link a.title.may-blank:visited {
    color: #858B8D;
}

.dark .link a.title.may-blank:hover {
    color: #6E8B97;
}

.dark .link .usertext .md {
    border-color: #444;
}

.dark .md a,
.dark .md a:visited {
    color: #3D5057;
}

.dark .md a:hover {
    *color: #45626D !important;
    color: #3D5057 !important;
    background-color: #242829;
}

.dark a.author,
.dark a.author:visited,
.dark .link a.author,
.dark .link a.author:visited,
.dark .comment a.author,
.dark .comment a.author:visited {
    color: #45626D;
}

.dark a.author.moderator,
.dark .comment a.author.moderator {
    color: #356447;
}

.dark a.author.moderator:after,
.dark .comment a.author.moderator:after {
    background-color: #356447;
    color: #fff;
}

.dark .side .spacer.spacersection {
    background-color: #393939;
}

.dark .form-control,
.dark .commenttextarea {
    background-color: #222;
    border-color: #3e3e3e;
}

/*--- Responsive
----------------------------*/

@media(min-width: 700px) {
    .comment .arrow-downvote,
    .comment .arrow-downvoted,
    .comment .arrow-upvote,
    .comment .arrow-upvoted {
        transform: scale(0.5);
    }
}

@media(max-width: 950px) {
    #header-banner {
        margin: 0 15px;
    }

    #header-img-a {
        width: 352px;
        height: 100px;
        background-position: -245px 0;
        margin-left: 30%;
    }

    .tabmenu {
        position: static;
        line-height: 57px;
        min-width: 0;
    }
    
    .side .md h6 {
        display: none;
    }
    
    #header-img-a {
        margin-top: 0;
    }
}

@media(max-width: 870px) {
    #header-container {
        margin-top: 80px;
    }

    #header-img-a {
        width: 295px;
        height: 80px;
        background-position: -205px -22px;
        margin-left: 30%;
        margin-top: 0px;
        background-size: 500px;
    }
	
	#modal-background.show-mobile-sidebar {
		z-index: 9;
	}
	
	.side {
		z-index: 10;
		background: #eaeaea
            url(https://i.imgur.com/4D8AzXj.png);
	}

    .side.show-mobile-sidebar {
        padding-top: 148px;
        top: 0;
        left: 0;
		margin: 0;
        height: 100%;
    }

    #modal-background {
        z-index: 2;
    }

    #show-menu-button,
    #show-menu-button.show-mobile-sidebar {
        margin: 18px 15px 15px 8px;
        transition: 150ms cubic-bezier(0, 0, 0, .9) all;
    }

    #show-menu-button.show-mobile-sidebar {
        opacity: 0.5;
    }
    
    .show-mobile-sidebar .titlebox .btn-whoaverse-paging {
        display: block;
        float: none;
        margin: 10px 0;
    }
}

@media(max-width: 800px) {
    .tabmenu {
        font-size: 10pt;
        line-height: 50px;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .tabmenu li.disabled a,
    .tabmenu li.disabled a:hover,
    .tabmenu li.selected a,
    .tabmenu li.selected a:hover,
    .tabmenu li.disabled a.contribute,
    .tabmenu li.disabled a.contribute:hover,
    .tabmenu li.selected a.contribute,
    .tabmenu li.selected a.contribute:hover {
        box-shadow: none;
    }

    #header-account {
        width: initial;
    }

    #nightmodetoggle,
    #manage {
        top: 3px;
    }

    span.user:first-of-type {
        display: none;
    }
}

@media(max-width: 700px) {
    .comment .midcol {
        float: none;
    }
    
    .comment .arrow-upvote {
        margin-bottom: 3px;
    }
}

@media(max-width: 620px) {

    #header-img-a {
        margin-left: 0;
        left: unset;
        right: 15px;
    }
    
    #header-banner {
        flex-direction: column;
        -webkit-flex-direction: column;
    }

    #header-account {
        text-align: center;
        z-index: 10;
        max-height: 30px;
        transition: 150ms cubic-bezier(0, 0, 0, .9) all;
    }
    
    .side.show-mobile-sidebar {
        padding-top: 198px;
    }
    
    .show-mobile-sidebar #header-account {
        left: 0;
        opacity: 1;
    }

    #mailcounter {
        display: none;
    }
    
    #show-menu-button:before {
        border-color: #fff;
    }
    
    #show-menu-button,
	#show-menu-button.show-mobile-sidebar {
        position: absolute;
        top: 98px;
        left: 0;
        margin: 15px;
        z-index: 7;
        margin-left: 27px;
        margin-top: 27px;
    }
}

@media(max-width: 500px) {
    #show-menu-button {
        position: absolute;
    }

    .md {
        text-align: left;
    }
}

@media(max-width: 360px) {
    #header-img-a {
        left: 5%;
    }
	
	.link:first-of-type .midcol {
		top: -10px;
		left: -10px;
	}
	
	.link:first-of-type .entry {
		padding-left: 15px;
	}
}

/*--- Custom sidebar Stuff ---*/

.titlebox .md h5 {
    font-style: normal;
    font-size: 14pt;
    text-align: center;
    font-weight: 600;
}

.titlebox .md h5 + blockquote p:before, .titlebox .md h5 + blockquote p:after { content: none;}

.titlebox .md h5 + blockquote {
    margin: 0;
    padding: 0;
    font-style: normal;
    margin: 5px 0;
    padding: 5px 0;
    box-shadow: 0px -13px 10px -15px rgba(0, 0, 0, 0.3), 0px 13px 10px -15px rgba(0, 0, 0, 0.3);
}

.titlebox .md h5 + blockquote ol {
}

.titlebox .md h5 + blockquote ol li {
}

.titlebox .md h5 + blockquote blockquote {
    font-style: normal;
}

/*--- COMPATABILITY YAY ---*/
#header-banner,
#container,
.tabmenu,
.link {
    display: -webkit-box;      /* Old Safari */
    display: -moz-box;         /* Old Firefox */
    display: -ms-flexbox;      /* IE */
    display: -webkit-flex;     /* Old Chrome */
    display: flex;             /* Unbreak new browsers */
}

#header-banner {
    -webkit-align-items: center;
}

#header-account {
    -webkit-align-self: flex-end;
}

.side {
    -webkit-box-ordinal-group: 1;  
    -moz-box-ordinal-group: 1;     
    -ms-flex-order: 1;     
    -webkit-order: 1;  
}

#container .content,
.tabmenu,
.link .entry {
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.link .entry {
    -webkit-flex-shrink: 10000;
}

.btn-whoaverse.contribute.submit-text:before {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
}

.btn-whoaverse,
a.btn-whoaverse,
a.btn-tour,
.btn-whoaverse-paging,
.btn-whoaverse.contribute.submit-text,
.arrow-downvote:after,
.link .flat-list li a,
.comment .flat-list li a,
.inline-loadcomments-btn,
.tabmenu li.disabled a,
.tabmenu li.disabled a:hover,
.tabmenu li.selected a,
.tabmenu li.selected a:hover,
.tabmenu li.disabled a.contribute,
.tabmenu li.disabled a.contribute:hover,
.tabmenu li.selected a.contribute,
.tabmenu li.selected a.contribute:hover,
.form-control,
.commenttextarea,
.link .midcol,
.btn-whoaverse.contribute.submit-text:before,
.link .entry {
    -webkit-transition: 150ms all cubic-bezier(0, 0, 0, .9);
    -moz-transition: 150ms all cubic-bezier(0, 0, 0, .9);
    -o-transition: 150ms all cubic-bezier(0, 0, 0, .9);
}

#show-menu-button,
#show-menu-button.show-mobile-sidebar,
#header-account {
    -webkit-transition: 300ms all cubic-bezier(0, 0, 0, .9);
    -moz-transition: 300ms all cubic-bezier(0, 0, 0, .9);
    -o-transition: 300ms all cubic-bezier(0, 0, 0, .9);
}